<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Bulletin Board</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a [routerLink]="['group']">Group</a></li>
				<li><a [routerLink]="['dm']">Message</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li *ngIf="isLoggedIn()"><a (click)="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container" role="main">

	<div class="jumbotron">
		<h1 id="bula">Bulletin Board</h1>
	</div>

	<router-outlet></router-outlet>

</div>
