<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li ><a (click)= "postTable()">Posts</a></li>
        <li><a (click) = "userTable()">Users</a></li>
      </ul>
    </div>
  </nav>

  <div class="row">
      <h1>Users</h1>
      <table *ngIf="page" class="table table-bordered table-striped">
        <thead>
          <tr>
          <th>#</th><th>User</th><th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of page.content">
              <th *ngIf="user.username!='admin'">{{user.id}}</th>
              <td *ngIf="user.username!='admin'">{{user.firstName}} {{user.lastName}}</td>
              <td *ngIf="user.username!='admin'">
                <button class="btn btn-danger" (click)="delete(user.id)">remove</button>
              </td>
          </tr>
        </tbody>
      </table>
      <button type="button" (click)="changePage(-1)">Back</button>
      <button type="button" (click)="changePage(1)">Forward</button>
    </div>

    <form (ngSubmit)="addUser()">

      <label for="username">Username</label>
      <input name="username" [(ngModel)]="newUser.username"/><br>

      <label for="password">Password</label>
      <input name="password" [(ngModel)]="newUser.password"/><br>

      <label for="firstName">FirstName</label>
      <input name="firstName" [(ngModel)]="newUser.firstName"/><br>

      <label for="lastName">LastName</label>
      <input name="lastName" [(ngModel)]="newUser.lastName"/><br>

      <button type="submit">SAVE</button>
    </form>
