<h1>Users</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
    <th>#</th><th>Name</th><th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of page.content">
        <th>{{user.id}}</th>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>
          <button class="btn btn-danger" (click)="addToGroup(user)">Add to Group</button>
        </td>
    </tr>
  </tbody>
</table><br/><br/><br/>

<h1>Selected Users</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
    <th>#</th><th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of selectedUsers">
        <th>{{user.id}}</th>
        <td>{{user.firstName}} {{user.lastName}}</td>
    </tr>
  </tbody>
</table>

<form (ngSubmit) = "createGroup()">
<label for="k">Group Name</label>
<input name = "k"[(ngModel)] = "newGrupa.name"/>
<button class="btn btn-danger" type = "submit">Create Group</button>
</form><br>


<ul>
  <li *ngFor="let grupa of userGroups">
    <a [routerLink]="[grupa.name]">{{grupa.name}}</a>
  </li>
</ul>





