  Members:<br><br/>
  <ul>
    <li *ngFor= "let creator of creators">
      {{creator.firstName}} {{creator.lastName}}
      <br>
    </li>
  </ul><br>

  Messages:<br><br>
  <ul *ngIf="messages.length!=0">
    <li *ngFor="let message of messages">
      <div>{{message.text}}</div>
      <div>{{message.date | date}}</div><br>
    </li>
  </ul>

  <form (ngSubmit) = "saveMessage()">
    <textarea rows="6" cols="68" name = "input-text" [(ngModel)] = "newMessage.text"></textarea><br/>
      <button type = "submit">Sacuvaj</button>
  </form>


