<div *ngIf="isDataAvailable">

  {{post.text}} <br/><br/>

<ul>
  <li *ngFor="let comment of comments">
    {{comment.date | date}} <br/>
    {{comment.creator.username}} <br/>
    {{comment.text}}<br/>
    <ul *ngIf="comment.replies.length!=0">
      <li *ngFor="let reply of comment.replies">
        {{reply.text}}
      </li>
    </ul><br>
    <button (click)="createReply(comment.id)">Reply</button><br/><br><br>
  </li><br/><br><br>
</ul>


<form (ngSubmit) = "saveComment()">
  <textarea rows="6" cols="68" name = "input-text" [(ngModel)] = "newComment.text"></textarea><br/>
    <button type = "submit">Sacuvaj</button>
</form><br>
<div *ngIf = "nebuloza">
<form (ngSubmit) = "saveReply()">
    <textarea rows="6" cols="68" name = "input-text" [(ngModel)] = "newReply.text"></textarea><br/>
      <button type = "submit">Sacuvaj</button>
  </form>
  </div>
</div>

