<ul *ngIf="dms.length!=0">
  <li *ngFor="let dm of dms">
    <div>{{dm.creator}}</div>
    <div>{{dm.date | date}}</div>
    <div>{{dm.text}}</div><br>
  </li><br>
</ul>

<div>
  Create new direct message:
  <form (ngSubmit)="createNewDm()"><br />
    <label for="input-username">User</label>
    <select name="input-username" id="input-username" [(ngModel)]="receiver">
      <option *ngFor="let user of allUsers" [ngValue]="user.username"><div *ngIf="user.username!=currentUser.username">{{user.username}}</div></option>
    </select><br/><br/>
    <textarea rows="6" cols="68" name="input-text" [(ngModel)]="newDM.text"></textarea><br/>
    <button type="submit">Save</button>
  </form>
</div>


