<div *ngIf="isAdmin()">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" href="#">WebSiteName</a> -->
      </div>
      <ul class="nav navbar-nav">
        <li><a (click)="postTable()">Posts</a></li>
        <li><a (click)="userTable()">Users</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <h1>Posts</h1>
    <table *ngIf="page" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Creator</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of page.content">
          <th>{{post.id}}</th>
          <td>{{post.creator.firstName}} {{post.creator.lastName}}</td>
          <td>{{post.category.name}}</td>
          <td>
            <button class="btn btn-danger" (click)="delete(post.id)">remove</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" (click)="changePage(-1)">Back</button>
    <button type="button" (click)="changePage(1)">Forward</button>
  </div>
</div>

<div *ngIf="!isAdmin()">

  <div>
    Create new post:
    <form (ngSubmit)="createPost()"><br />
      <label for="input-category">Category </label>
      <select name="input-category" id="input-category" [(ngModel)]="newPost.category">
        <option *ngFor="let c of categories" [ngValue]="c">{{c.name}}</option>
      </select><br /><br />
      <label for="input-title">Title: </label>
      <input name="input-title" [(ngModel)]="newPost.title"><br /><br />
      <!-- <label for = "input-text">Unesite komentar:</label> -->
      <textarea rows="6" cols="68" name="input-post" [(ngModel)]="newPost.text"></textarea><br />
      <button type="submit">Save</button>
    </form>
  </div>
  <hr />

  <h1>Posts</h1>
  <ul>
    <li *ngFor="let post of posts">
      <div>{{post.title}}</div>
      <div>{{post.creator.username}}</div>
      <div>{{post.date | date}}</div>
      <div>{{post.text}}</div>
      <a [routerLink]="['/post',post.id]">detalji</a>
      <br /><br>
    </li>
  </ul>
</div>
